doctype
html
    head
        title Telerik Game Reviews
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        block main-content

        include scripts
        include currentUser
