<div class="jumbotron">
    <div class="container">

        <div class="col-md-12">
            <h2 class="row text-center">Stats</h2>
        </div>
        <div class="col-md-4 text-center">
            <div>
                <strong>
                    <a ng-href="#/users">Users</a>
                </strong>
            </div>
            <div>
                <span>{{vm.stats.Users}}</span>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div>
                <strong>
                    <a ng-href="#/projects">Projects</a>
                </strong>
            </div>
            <div>
                <span>{{vm.stats.Projects}}</span>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div>
                <strong>
                    <a ng-href="#/commits">Commits</a>
                </strong>
            </div>
            <div>
                <span>{{vm.stats.Commits}}</span>
            </div>
        </div>

    </div>
</div>
