<div class="container">
    <!-- <div class="jumbotron text-center">
        <h1>Welcome to Trip Exchange</h1>
        <h2>Find your way home!</h2>
    </div> -->

    <div all-statistics></div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest Projects</h3>
                </div>
                <div class="panel-body">
                    <div all-projects />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Latest Commits</h3>
                </div>
                <div class="panel-body">
                    <div all-commits />
                </div>
            </div>
        </div>
    </div>
</div>
