<div class="container">
    <div class="well">
        <form class="form-horizontal" name="createCommitForm">

            <!-- "name": "Test", "description": "Test Description", "licenseId": 1, "private": true -->
            <fieldset>
                <legend>Create New Commit</legend>

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="name">Source Code</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="name" ng-model="commit.sourceCode" placeholder="Source code here..." required="required" rows="10"/></textarea>
                </div>
            </div>

            <div class="form-group">

                <label class="col-lg-2 control-label" for="license">Project</label>
                <div class="col-lg-10">
                    <select class="form-control" id="license" ng-model="commit.projectId" required="required">
                        <option ng-repeat="project in vm.allProjects" value="{{project.Id}}">
                            {{project.Name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="pull-right">
                <button class="btn btn-primary" ng-click="vm.createCommit(commit)" ng-disabled="createCommitForm.$invalid">
                    Create
                </button>
                <a class="btn btn-primary" href="#/">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
</div>
