<div  class="nav navbar navbar-default navbar fixed">
  <div class="navbar-form  nav-justified">
  <p class="btn-group"><a id="logged-user">{{this.username}}</a></p>
  <p class="btn-group"><a id="login-btn" class="btn btn-md btn-primary" href="#/login" role="button">Sign in</a></p>
  <p class="btn-group"><a id="register-btn" class="btn btn-md btn-success" href="#/register" role="button">Sign up today</a></p>
  <p class="btn-group"><a id="logout-btn" class="btn btn-md btn-success" href="#/logout" role="button">Logout</a></p>
  <p class="btn-group"><a id="add-todo" class="btn btn-md btn-primary" href="#/todos/add" role="button">Add Todo</a>
  </p>
    </div>
</div>




