<div id="test" class="nav navbar navbar-default navbar fixed">
  <div class="navbar-form">
    <p class="btn-group"><a id="logged-user">{{this.currentUser.username}}</a></p>

    <p class="btn-group"><a id="login-btn" class="btn btn-md btn-primary" href="#/login" role="button">Sign in</a></p>

    <p class="btn-group"><a id="register-btn" class="btn btn-md btn-success" href="#/register" role="button">Sign up
      today</a></p>

    <p class="btn-group"><a id="logout-btn" class="btn btn-md btn-success" href="#/logout" role="button">Logout</a></p>
    <p class="btn-group"><a id="all-users-btn" class="btn btn-md btn-success" href="#/users" role="button">All users</a></p>
    <p class="btn-group"><a id="all-categories-btn" class="btn btn-md btn-success" href="#/categories" role="button">All categories</a>
    </p>

    <p class="btn-group"><a id="my-cookie" class="btn btn-md btn-success" href="#/my-cookie" role="button">My cookie</a>
    </p>


    <p class="btn-group"><a id="add-cookie" class="btn  btn-md btn-primary" href="#/cookies/add" role="button">Add cookie</a>
    </p>
  </div>
</div>
<div class="container">


    {{#if this.users}}
      <h3>Registered users</h3>

        {{#each this.users}}
          <h4><a href="#/users?name={{username}}">{{username}}</a></h4>

        {{/each}}

    {{else}}
      <h3>No registerded users</h3>
    {{/if}}
</div>

