<div class="row">

        <div class="col-md-8 col-md-offset-2">
            <h2>{{title}}</h2>
            <p>Created at: {{postDate}}</p>
            <p>Author: {{user.username}}</p>
        </div>

</div>